@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  width: 100%;
  
  font-family: "Raleway", sans-serif;
  
  scroll-behaviour: smooth;
  scrollbar-color: #6600ff #212529ff;
}

/* Scrollbar Customize */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #212529ff;
}

::-webkit-scrollbar-thumb {
  background: #6600ff;
  border-radius: 50px;
}
